 @import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

a {
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  font-family: 'Russo One', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #000;
}

h1,h4, p,a {
    color: #fff;
}

::-webkit-scrollbar {
    width: 0px;
    height: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(114, 113, 113);
    border-radius: 10px;
    height: 200px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .category-btn:hover {
    background-color: rgba(150, 5, 194, 0.922) !important;
    color: white !important;
  }

  .category-btn:hover span{
    color: white !important;
  }

  .react-player {
    height: 77vh !important;
    width: 100% !important;
  }

  .search-bar{
    border:none;
    outline:none;
    width:350px;
  }

  .category-btn{
    font-weight: bold !important;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor:pointer;
    background: transparent;
    outline: none;
    border: none;

    padding: 7px 15px;
    margin: 10px 0px;
    border-radius: 20px;
    transition: all 0.3s ease;
  }

ul {
    list-style-type: none;
  }

.btn {
  border-radius: 8px;
  padding: 12px 32px;
  font-size: 1.2rem;
  text-transform: uppercase;
  background: transparent;
  color: rgb(254, 238, 238);
  border: 1px solid rgba(150, 5, 194, 0.922);
  cursor: pointer;
}



.btn-light {
    background: rgba(215, 96, 226, 0.2);
}

.btn:hover {
    background: rgba(150, 5, 194, 0.922);
    color: rgb(255, 255, 255);
}

.notification {
    position: center;
    right: 1rem;
    bottom: 1rem;
    z-index: 100;
    padding: 1rem 1.5rem;
    background-color: rgba(150, 5, 194, 0.922);
    color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    font-size: 1rem;
}

@media screen and (max-width: 900px) {
    .category-btn{
      margin: 10px;
    }
  }

  @media screen and (max-width:800px){
    .copyright{
      display:none !important;
    }
  }

  @media screen and (max-width: 600px) {
    .scroll-horizontal {
      overflow: auto !important;
    }

    .react-player {
      height: 45vh !important;
    }
    .search-bar{
      width:200px;
    }
  }
