
:root {
    --background: #ffffff;
    --text-primary: #000;
    --text-secondary: #8e05c2;
    --accent: #8e05c2;
    --border: #333;
    --form-bg: #fff;
  }

  [data-theme='dark'] {
    --background: #000;
    --text-primary: #fff;
    --text-secondary: #8e05c2;
    --accent: #9c02e4;
    --border: #808080;
    --form-bg: #191919;
  }


  .l-app {
    background-color: var(--background);
    color: var(--text-primary);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .8rem;
    transition: all .5s;
    padding-top: 5rem;
    margin-bottom: 15rem;
  }

  .l-login h1 {
    text-align: center;
    margin: -6rem 0 2rem;
    font-size: 48px;
  }

  h2 {
    text-align: center;
    padding: 1rem;
  }

  .l-theme-toggle i {
    font-size: 2rem;
    cursor: pointer;
  }

  .l-theme-toggle {
    text-align: center;
  }

  .l-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    width: 500px;
    margin: auto;
    box-shadow: 0px 0px 12px var(--border);
    border-radius: 8px;
    background-color: var(--form-bg);
  }

  .l-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .l-top i {
    font-size: 1rem;
  }

  .l-divider {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--text-primary);
    line-height: .1rem;
    margin: 2rem 0;
  }


  label {
    margin: 8px 0;
    font-weight: 600;
  }

  input {
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 6px;
    border: 1px solid var(--border);
    background: var(--background);
    color: var(--text-primary);
  }

  .l-remember {
    display: flex;
    align-items: center;
    width: 100%;
  }

  input[type=checkbox]:checked {
    margin: 0;
    padding: 0;
  }

  .l-remember p {
    padding-left: 8px;
  }

  button {
    background-color: var(--accent);
    border: 1px solid var(--accent);
    color: #fff;
    margin: 16px 0;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
  }

  .l-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: .8rem;
  }

  .l-create {
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
  }

  @media screen and (max-width:640px) {

    .l-app {
        padding-top: 5rem;
        margin-bottom: 2rem;
      }

    .l-login {
        padding-top: 5rem;
        margin-bottom: 5rem;
      width: 95%;

    }
    .l-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;
        width: 300px;
        margin: auto;
        box-shadow: 0px 0px 12px var(--border);
        border-radius: 8px;
        background-color: var(--form-bg);
      }
  }
